<header>
    {% if site.logo %}
    <p class="header-image">
        <a href="/"><img src="{{ site.logo | relative_url }}" alt="Logo" /></a>
    </p>
    {% endif %}

    <div class="header-content">
        <p class="header-title"><strong>{{ site.title }}</strong></p>
        <p class="sidebar-contents">
            G'day! I'm Scott, a developer with a love for building awesome apps.<br>
            <br>
            <a href="{{ site.linkedin }}" class="job-alert" target="_blank">I'm currently in search of new
                opportunies!</a>
            <br>
            If you're in need of a Full Stack Developer then don't be a stranger!<br>
            <br>
            Enjoy my portfolio!
        </p>

        <p style="margin: 0;">
            {% if site.github %}
            <a href="{{ site.github }}" target="_blank">
                <img alt="Github Profile" src="/icons/github_large.png" class="grow grow-more />
            </a>
            {% endif %}

            {% if site.linkedin %}
            <a href=" {{ site.linkedin }}" target="_blank">
                <img alt="LinkedIn Profile" src="/icons/linkedin_large.png" class="grow grow-more" />
            </a>
            {% endif %}

            {% if layout.link_home %}
            <a class="big-link" href="/" style="float: right; margin-top: -5px;">Go home</a>
            {% endif %}
        </p>
    </div>

</header>