html {
    border-top: 0.3rem solid #ffb84d;
}

.tags {
    display  : flex;
    flex-wrap: wrap;
}

.tags>*,
.tag {
    font-size          : 0.9em;
    color              : white !important;
    background-color   : #84c3f3;
    padding            : 0.3rem 0.6rem;
    margin             : 0 0.3rem 0.3rem 0;
    border-radius      : 0.3rem;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    font-weight        : normal !important;
}

.tags>a:hover,
.tags>a:focus {
    background-color: #65b4f0;
}

.date {
    font-size   : 1.2em;
    color       : #888;
    margin-right: 20px;
}

blockquote {
    box-sizing : border-box;
    position   : relative;
    margin     : 20px auto !important;
    padding    : 0 20px !important;
    border     : none !important;
    width      : max-content;
    white-space: normal;
    max-width  : 100%;
}

blockquote::before,
blockquote::after {
    content    : "''";
    font-size  : 4em;
    position   : absolute;
    left       : -0.4rem;
    top        : 0.7rem;
    opacity    : 0.2;
    line-height: 0;
}

blockquote::after {
    left  : unset;
    top   : unset;
    right : 0;
    bottom: 0;
}

header {
    background-color: #fefbee;
    padding         : 20px !important;
    padding-left    : 0 !important;
    border-radius   : 10px;
    display         : flex;
    flex-wrap       : wrap;
}

.header-image {
    flex-basis  : 250px;
    margin      : 0 auto 20px;
    padding-left: 20px;
}

.header-content {
    flex-basis  : 300px;
    flex-grow   : 1;
    padding-left: 20px;
}

section {
    border: none !important;
}

.big-link,
.big-link:hover,
.big-link:focus {
    background-color: #84c3f3;
    color           : white;
    padding         : 10px 15px;
    border-radius   : 10px;
    white-space     : nowrap;
    font-weight     : bold;
    position        : relative;
}

.big-link:hover {
    background-color: #65b4f0;
}

.big-link.alt {
    background-color: #ffb84d;
}

.big-link.alt:hover {
    background-color: #ffa63a;
}

.image-small {
    max-width: 60%;
    margin   : 0 auto;
    display  : block;
}

.image-medium {
    max-width: 80%;
    margin   : 0 auto;
    display  : block;
}

.img-with-text {
    margin-right: auto;
    margin-left : auto;
    text-align  : center;
}

code,
pre {
    background-color: #faf9f4;
    padding         : 4px 6px;
    border-radius   : 3px;
    font-family     : "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}