/* Main layout styles */

:root {
    --colour-primary     : #84c3f3;
    --colour-primary-dark: #65b4f0;
    --colour-alt         : #f3c886;
}

html {
    border-top     : 0.3rem solid var(--colour-primary);
    scroll-behavior: smooth;
}

header {
    background-color: #fafafa;
    padding         : 20px !important;
    padding-left    : 0 !important;
    border-radius   : 10px;
    display         : flex;
    flex-wrap       : wrap;
    border-top      : 4px solid var(--colour-primary);
    border-bottom   : 4px solid var(--colour-primary);
    box-shadow      : 0 6px 18px -2px rgba(50, 50, 93, .1), 0 3px 7px -3px rgba(0, 0, 0, .1);
}

.header-image {
    flex-basis  : 250px;
    margin      : 0 auto 20px;
    padding-left: 20px;
}

.header-title {
    font-size: 1.2em;
}

@media print,
screen and (max-width: 960px) {
    .header-image {
        flex-basis: 200px;
    }
}

.header-content {
    flex-basis  : 300px;
    flex-grow   : 1;
    padding-left: 20px;
}

.post-actions-container {
    display      : flex;
    flex-wrap    : wrap;
    align-items  : center;
    margin-bottom: 15px;
}

.post-actions-container>* {
    margin-bottom: 6px;
}

section {
    border: none !important;
}

/* Default element styles */

blockquote {
    box-sizing : border-box;
    position   : relative;
    margin     : 20px auto !important;
    padding    : 0 20px !important;
    border     : none !important;
    width      : max-content;
    white-space: normal;
    max-width  : 100%;
}

blockquote::before,
blockquote::after {
    content    : "''";
    font-size  : 4em;
    position   : absolute;
    left       : -0.4rem;
    top        : 0.7rem;
    opacity    : 0.2;
    line-height: 0;
}

blockquote::after {
    left  : unset;
    top   : unset;
    right : 0;
    bottom: 0;
}

code,
pre {
    background-color: #faf9f4;
    padding         : 4px 6px;
    border-radius   : 3px;
    font-family     : "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

video {
    max-width: 100%;
}

/* Custom styles */

.tags {
    display   : flex;
    flex-wrap : wrap;
    margin-top: 0.5em;
}

.date {
    font-size   : 1.2em;
    color       : #888;
    margin-right: 20px;
}

.date-inline {
    font-weight: bold;
    color      : #555;
}

.tags>*,
.tag {
    font-size          : 0.9em;
    color              : var(--colour-primary-dark) !important;
    background-color   : white;
    padding            : 0.3rem 0.6rem;
    margin             : 0 0.3rem 0.3rem 0;
    border-radius      : 0.3rem;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    font-weight        : normal !important;
    position           : relative;
    margin-right       : 6px;
    box-shadow         : 0 2px 4px rgba(50, 50, 93, .11), 0 1px 2px rgba(0, 0, 0, .08);
}

.tags>a:hover,
.tags>a:focus {
    background-color: #f8f8f8;
}

.big-link {
    display         : inline-block;
    background-color: var(--colour-primary);
    color           : white;
    padding         : 10px 15px;
    border-radius   : 4px;
    white-space     : nowrap;
    font-weight     : bold;
    position        : relative;
    margin          : 0 6px 6px 0;
    box-shadow      : 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.big-link:hover,
.big-link:focus {
    color           : white;
    background-color: var(--colour-primary-dark);
}

.image-small {
    max-width: 60%;
    margin   : 0 auto;
    display  : block;
}

.image-medium {
    max-width: 80%;
    margin   : 0 auto;
    display  : block;
}

.image-post {
    margin : 0 auto 10px;
    display: block;
}

.img-with-text {
    margin-right: auto;
    margin-left : auto;
    text-align  : center;
}

.video-tag {
    background-color: #eee;
    border-radius   : 0.3rem;
    padding         : 0.1rem 0.3rem;
    pointer-events  : none;
}

a.big-link.github-link {
    padding-left: 9px;
}

.github-button-icon {
    vertical-align: middle;
    margin-right  : 3px;
    height        : 20px;
    margin-top    : -3px;
}

h1.inline-header {
    float        : left;
    margin-bottom: 20px;
    line-height  : 40px;
}

a.inline-github-link {
    float        : left;
    margin-left  : 20px;
    margin-bottom: 20px;
}

.grow,
.tags>a,
.big-link,
.job-alert {
    transition: transform 50ms ease-in-out;
}

.grow:hover,
.tags>a:hover,
.big-link:hover,
.job-alert:hover {
    transform: scale(1.05);
}

.grow-more:hover {
    transform: scale(1.1);
}

.content {
    background-color: var(--colour-primary);
    padding         : 20px;
    padding-bottom  : 12px;
    margin-bottom   : 30px;
    background-color: #fafafa;
}

.content-shadow {
    position: relative;
    filter  : drop-shadow(0 6px 5px rgba(50, 50, 93, .1)) drop-shadow(0 3px 2px rgba(0, 0, 0, .05));
}

.content,
.content-angle {
    background-color: #fafafa;
    border-radius   : 5px;
}

.content>p:last-child {
    margin-bottom: 0 !important;
}

.content-angle {
    content         : " ";
    height          : 50px;
    transform       : skewY(2deg) translateY(5px);
    position        : absolute;
    bottom          : 0;
    width           : 100%;
    left            : 0;
    transform-origin: left;
    z-index         : -1;
    border-bottom   : 4px solid var(--colour-primary);
}

.sidebar-contents {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.sidebar-contents>* {
    margin-bottom: 5px;
}

.job-alert {
    color           : #222;
    font-weight     : bold;
    background-color: var(--colour-alt);
    border-radius   : 4px;
    padding         : 5px 8px;
    text-align      : center;
    display         : inline-block;
}

.job-alert:hover,
.job-alert:focus {
    color           : #222;
    background-color: hsl(36, 82%, 65%);
}

.text-highlight {
    overflow     : hidden;
    position     : relative;
    padding      : 5px 8px;
    margin-left  : -10px;
    width        : min-content;
    white-space  : nowrap;
    border-radius: 4px;
    margin-bottom: 10px;
}

.text-highlight:after {
    content                   : '';
    position                  : absolute;
    height                    : 100%;
    width                     : 100%;
    top                       : 0;
    right                     : 0;
    z-index                   : -1;
    background                : var(--colour-primary);
    transform                 : translate3d(101%, 0, 0);
    transition                : transform 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.post:hover>.text-highlight:after,
.text-highlight:hover:after {
    transform: translate3d(0, 0, 0);
}

.text-highlight>a {
    display : block;
    position: relative;
    height  : 1.2em;
}

.text-highlight a:before {
    content                   : attr(data-letters);
    position                  : absolute;
    color                     : #fff;
    left                      : 0;
    overflow                  : hidden;
    white-space               : nowrap;
    width                     : 0%;
    height                    : 100%;
    transition                : width 200ms;
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.post:hover>.text-highlight>a:before,
.text-highlight:hover>a:before {
    width: 100%;
}

.post {
    transition: transform 150ms ease-in-out;
}

.post:hover {
    transform: scale(1.01);
}